@{
    var image = "/asset/tesco1.png";
    var menuIcon = "/asset/menu-icon.svg";
    var footer = "/asset/Footer-img.jpg";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Peach PPE</title>
    <script type="importmap"></script>
   
    <link rel="stylesheet" href="~/Peach_Clone.styles.css" asp-append-version="true"/>
  
</head>
<body>
    <header>
        <div class="header">
            <div class="blueLine"></div>
            <div class="logo-container">
                <div class="logo">
                    <a href=""><img src=@image alt="Peach PPE Logo" width="150"></a>
                </div>
                <!-- Add id to menu-icon -->
                <div class="menu-icon" id="menu-icon">
                    <img src=@menuIcon alt="Menu" width="50">
                </div>
            </div>
            <div class="menu-bar" id="menu-bar">
                <div class="menu-header">

                    <button class="close-btn" id="close-btn">&times;</button>
                </div>
                <ul class="menu-items">
                    <li><a href=@Url.Action("Index","Home")>Home</a></li>
                    <li><a href="@Url.Action("Project","Home")">View Project</a></li>
                    <li><a href="@Url.Action("PrintList","Home")">Print List</a></li>
                    <li><a href="@Url.Action("AddColleague","Home")">Add Colleague</a></li>
                    <hr />
                    <li><a href="@Url.Action("FAQ","Home")">FAQs</a></li>
                    <li><a href="@Url.Action("Logout","Home")">Logout</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </header>
    
 
    <div class="container-main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

     
    <div class="footer">
        <img src=@footer alt="">
        <div class="footer-content">
            <p>Terms and Conditions</p><p>|</p><p>Access ploicy<p><p>|</p><p>Legacy & Privacy</p>
        </div>
    </div>
 
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
