
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Project-Tesco Redundancy Calculator</title>
    <link rel="stylesheet" href="~/css/Colleagueissue.css" />
</head>
    <body>
        <div class="issue-main">
            <h1>Colleague Issue</h1>
            <hr />
            <div class="containers">
                <div class="box1">
                <a href="@Url.Action("Incorrect", "Colleague")"><span>Incorrect Date</span></a>
                </div>
                <div class="box2">
                <a href="@Url.Action("Payhours", "Colleague")"><span>Incorrect DateIncorrect Contractual Pay/Hours</span></a>
                </div>
                <div class="box3">
                <a href="@Url.Action("Gradework", "Colleague")"><span>Incorrect Job Grade/Work Level</span></a>
                </div>
                <div class="box4">
                <a href="@Url.Action("Storebranch", "Colleague")"><span>Incorrect Store/Branch</span></a>
                </div>
                <div class="box5">
                <a href="@Url.Action("SRPrate", "Colleague")"><span>Different SRP rate Required</span></a>
                </div>
                <div class="box6">
                <a href="@Url.Action("Locked", "Colleague")"><span>Access to a Locked Project Required</span></a>
                </div>
                <div class="box7">
                <a href="@Url.Action("Query", "Colleague")"><span>Colleague Query</span></a>
                </div>
                <div class="box8">
                <a href="@Url.Action("Resetting", "Colleague")"><span>Colleague Needs Resetting</span></a>
                </div>
                <div class="box9">
                <a href="@Url.Action("Leaver", "Colleague")"><span>Agreed Early Leaver/Mover</span></a>
                </div>
                <div class="box10">
                <a href="@Url.Action("Database", "Colleague")"><span>Database Access</span></a>
                </div>
            </div>
        </div>
        
    </body>
</html>